<h1><%= @project.name %> </h1>
<h2><%= flash[:success] %>
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
</h2>

<ol>
<% @time_entries.each do |time_entry| %>
	<li> 
		Hours:
		<%= time_entry.hours %>
		Minutes:
		<%= time_entry.minutes %>
		<%= time_entry.date %>
		<%= link_to 'Edit Time Entry', edit_project_time_entry_path(@project, time_entry) %>
		<%= link_to 'Delete', project_time_entry_path(@project, time_entry), method: :delete, data: {confirm: 'Are you sure?'} %>	
	</li>

<% end %>
</ol>

<%= link_to('View All Projects', projects_path) %>
<br>
<br>
<%= link_to('Add New Time Entry', new_project_time_entry_path) %>